.Restaurant {
    box-shadow: 2px 2px lightgray;
    margin: 5px 5px;
}

.Image {
    max-height: 30vh;
    object-fit:contain;
}

.Button {
    margin: 0 5px;
}

.ItemsCenter {
    display: flex;
    justify-content:center;
}

.Italic {
    font-style: italic;
}